* {
  @apply selection:bg-N-800 selection:text-white;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-base text-N-700 bg-N-10;
}

img {
  max-width: unset;
}

.scrollbar-thin {
  -webkit-appearance: none !important;
  -webkit-overflow-scrolling: auto;
}
