* {
  @apply selection:bg-N-800 selection:text-white;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-N-10 font-sans text-base text-N-700;
  font-feature-settings: 'salt' on, 'ss01' on, 'cv01' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: unset;
}

.scrollbar-thin {
  -webkit-appearance: none !important;
  -webkit-overflow-scrolling: auto;
}

#map {
  height: 343px;
  width: 368px;
  border-radius: 12px;
  overflow: hidden;
}

.guide-content {
  img {
    position: relative;
    // left: -104px;
    // width: calc(104px + 100%);
    max-width: calc(100%);
    border-radius: 12px;
  }
}

.pagination {
  display: flex;

  li {
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 4px;
    overflow: hidden;

    a {
      display: inline-flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      @apply bg-transparent text-N-800 hover:bg-N-100;
    }

    &.selected a {
      @apply bg-N-800 text-white;
    }
  }
}

article.prose {
  iframe {
    width: 100%;
    min-height: 400px;
    border-radius: 12px;
  }
}
