* {
  @apply selection:bg-N-800 selection:text-white;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-N-10 font-sans text-base text-N-700;
  font-feature-settings: 'salt' on, 'ss01' on, 'cv01' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: unset;
}

.scrollbar-thin {
  -webkit-appearance: none !important;
  -webkit-overflow-scrolling: auto;
}

#map {
  height: 343px;
  width: 368px;
  border-radius: 8px;
  overflow: hidden;
}

.guide-content {
  img {
    position: relative;
    // left: -104px;
    // width: calc(104px + 100%);
    max-width: calc(100%);
    border-radius: 8px;
  }
}

.pagination {
  display: flex;

  li {
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 4px;
    overflow: hidden;

    a {
      display: inline-flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      @apply bg-transparent text-N-800 hover:bg-N-100;
    }

    &.selected a {
      @apply bg-N-800 text-white;
    }
  }
}

article.prose {
  iframe {
    width: 100%;
    min-height: 400px;
    border-radius: 8px;
  }
}

.gallery {
  display: grid;
  gap: 12px;

  br {
    display: none !important;
  }

  img {
    border: 0 solid #fff !important;
  }

  &.gallery-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  &.gallery-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  &.gallery-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.gallery-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.gallery-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-item {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;

    .gallery-icon {
      width: 100%;

      a {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

.wp-caption {
  max-width: 100%;
}

article.prose {
  .alignleft {
    float: left;
    margin-right: 1.5em;
  }
  .alignright {
    float: right;
    margin-left: 1.5em;
  }
}

.Toastify__toast {
  background-color: transparent !important;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 20px;
  height: 20px;

  & .path {
    stroke: #fff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

.loader {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  &__svg {
    animation: 1s ease-in-out 0ms 1 normal forwards running animation;
    opacity: 0;
    vertical-align: middle;

    &__circle {
      animation: 0.86s cubic-bezier(0.4, 0.15, 0.6, 0.85) 0ms infinite normal none running
        animation-circle;
      fill: none;
      stroke: currentColor;
      stroke-dasharray: 60;
      stroke-dashoffset: inherit;
      stroke-linecap: round;
      stroke-width: 1.5;
      transform-origin: center center;
    }
  }
}

@keyframes animation {
  0% {
    opacity: 0;
    stroke-dashoffset: 60;
    transform: rotate(50deg);
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 50;
    transform: rotate(230deg);
  }
}

@keyframes animation-circle {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
