/* RC-Slider */
.rc-slider {
  &-tooltip {
    top: -28px !important;
    @apply select-none;

    &-arrow {
      display: none;
    }

    &-inner {
      background-color: transparent !important;
      box-shadow: none !important;
      color: #728197 !important;
      font-weight: 500 !important;
    }
  }

  &-handle {
    &-dragging {
      box-shadow: none !important;
    }
  }
}

/* Swiper bullets */
.swiper-pagination {
  bottom: 24px !important;

  &-bullet {
    width: 52px !important;
    height: 8px !important;
    border-radius: 8px !important;
    background-color: #d8e1ec !important;
    opacity: 1 !important;

    &-active {
      background-color: #4b5669 !important;
    }
  }
}

/* Product Card Carousel Preview */
.preview-carousel {
  .swiper-pagination {
    bottom: 24px !important;

    &-bullet {
      width: 20px !important;
      height: 4px !important;
      border-radius: 8px !important;
      background-color: #d8e1ec !important;
      opacity: 1 !important;

      &-active {
        background-color: #4b5669 !important;
      }
    }
  }
}

/* NProgress */
#nprogress .bar {
  background: #e31937 !important;

  .progress {
    background: #e31937 !important;
  }
}

#nprogress .peg {
  box-shadow: 0 0 10px #e31937, 0 0 5px #e31937 !important;
}

#nprogress .spinner-icon {
  border-top-color: #e31937 !important;
  border-left-color: #e31937 !important;
}

/* Product gallery */
.image-gallery {
  @apply bg-transparent;

  &-content {
    @apply flex flex-col gap-[20px] bg-transparent;
  }

  &-slide-wrapper {
    @apply shadow-card-shadow;
  }

  &-thumbnails {
    padding: 0 !important;

    &-container {
      @apply flex gap-[8px] bg-transparent;
    }
  }
}

.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 0 !important;
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  padding-right: 68px !important;
  padding-left: 68px !important;
}

.image-gallery-thumbnail {
  @apply bg-transparent;
  border: 0 !important;
  width: 80px !important;
  height: 80px !important;

  div {
    width: 80px !important;
    height: 80px !important;
  }
}

/* Blockquote */
blockquote {
  border-left: 0;
  padding-left: 0 !important;
  margin: 0 !important;

  &:before {
    content: '\EC51';
    font-family: remixicon !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    margin-right: 8px;
    font-size: 40px;
    line-height: 1;

    @apply text-B-500;
  }
}
