/* TailwindCSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  .display,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans text-N-800;
  }

  .display {
    @apply text-display;
  }

  h1 {
    @apply text-h1 font-700;
  }

  h2 {
    @apply text-h2 font-700;
  }

  h3 {
    @apply text-h3 font-700;
  }

  h4 {
    @apply text-h4 font-500;
  }

  h5 {
    @apply text-h5 font-400;
  }

  h6 {
    @apply text-h6 font-400;
  }

  .text-overline {
    @apply font-overline;
  }

  a,
  .link {
    @apply text-N-700 hover:text-B-400;
  }
}

@layer utilities {
  @variants responsive {
    .masonry {
      gap: 48px;
      column-count: 1;
    }

    .masonry-sm {
      gap: 48px;
      column-count: 2;
    }

    .masonry-md {
      gap: 48px;
      column-count: 2;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}
